@(message:String)(implicit request: RequestHeader)

<html>
    <head>
        <title>Workday Data Manager</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    </head>
    <body>
        
        <header>
            <a href="/" id="logo">
            <img src="/assets/images/kainos.png" style="vertical-align:middle;"/>
            <span>Workday</span> Data Manager</a>
        </header>
        
<div class="row">
    <div class="span12" id="alerts">
        @if(message != ""){
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
            @message
        </div>
        }
    </div>
</div>

		<form id="loginForm" action="/login" method="post" enctype="multipart/form-data" class="form-horizontal">
		    <div class="control-group">
		        <label class="control-label" for="username">Username</label>
		        <div class="controls">
		            <input type="text" class="input-xlarge" id="username" name="username" maxlength="30">
		        </div>
		    </div>
		
		    <div class="control-group">
		        <label class="control-label" for="password">Password</label>
		        <div class="controls">
		            <input type="password" class="input-xlarge" id="password" name="password" maxlength="15"><br/>
		            <a href="/account/lost">Lost Password?</a>
		        </div>
		    </div>
		
		    <div class="control-group">
		        <div class="controls">
		            <input type="submit" class="btn btn-primary btn-large" value="Login"/>
		        </div>
		    </div>
		</form>        

        <p class="note">
            Try <em>admin</em> with <em>admin</em> as password.
        </p>            
    </body>
</html>
    


