@(message:String)(implicit request: RequestHeader)

@main("Password Reset") {

<div class="row">
    <div class="span12" id="alerts">
        @if(message != ""){
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
            @message
        </div>
        }
    </div>
</div>

<form id="resetForm" action="/account/lost" method="post" enctype="multipart/form-data" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
            <input type="text" class="input-xlarge" id="username" name="username" maxlength="30">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary btn-large" value="Send Password Email"/>
        </div>
    </div>
</form>
}

